span.id {
  display: none;
}
.mt1 {
  display: none;
}
.restore {
  display: none;
}

/* book name */
h1.h {
  text-align: center;
}

/* chapter */
h2.c {
  text-align: center;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* verse number */
sup.v {
  color: rgb(255, 153, 0);
}

/* paragraph */
p {
  margin-bottom: 0em;
}

p.p {
  text-indent: 2em;
}

p.q1, p.q2 {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 2em;
}

/* underline */
span.pn {
  /*border-bottom: 1px solid #000;*/
  text-decoration: underline;
  white-space: nowrap;
}

/* footnote */
span.f {
  display: none;
}

/* reference */
span.r {
  font-size: smaller;
}
