span.id {
  display: none;
}
.mt1 {
  display: none;
}
.restore {
  display: none;
}

/* book name */
h1.h {
  text-align: center;
}

/* intro headings */
h3.imt, h3.is, h3.iot {
  text-align: center;
}

/* book nav */
div.book-nav {
  text-align: center;
}
span.book-nav-link {
  font-size: 1em;
  padding: 0.2em;
  display: inline;
}

/* chapter */
span.c {
  text-align: center;
  display: inline;
  font-size: 2.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

span.c a sup {
  font-size: 0.5em;
}

div.chap-nav {
  margin-top: 2em;
  text-align: center;
}

a.prev-chap-link {
  font-size: smaller;
  margin-right: 1em;
}

a.next-chap-link {
  font-size: smaller;
  margin-left: 1em;
}

h4.d {
  text-align: center;
  margin-top: -0.2em;
}

/* subject */
h3.s {
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
}

/* verse number */
sup.v {
  color: rgb(255, 153, 0);
}

/* paragraph */
p {
  margin-bottom: 0em;
}

p.p {
  text-indent: 2em;
}

p.q1, p.q2 {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 2em;
}

/* underline */
span.pn {
  /*border-bottom: 1px solid #000;*/
  text-decoration: underline;
  white-space: nowrap;
}

/* footnote */
span.f {
  display: none;
}
p.footnote {
  margin-bottom: 0em;
  margin-top: 0.5em;
}
h2.footnote-title {
  text-align: center;
}

/* reference */
span.r {
  font-size: smaller;
  display: block;
  text-align: center;
  margin-top: -1.5em;
  margin-bottom: 2em;
}

.error {
  color: red;
}
